body {
    font-family: Arial;
}
body {
    font-family: Arial;
    text-align: center;
    background-color: #f0f0f0;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.gallery img {
    width: 200px;
    border-radius: 10px;
}
.gallery img {
    transition: 0.3s;
}

.gallery img:hover {
    transform: scale(1.1);
}
h1 {
    color: #333;
    margin-top: 20px;
}

.gallery img {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}