body {
    font-family: Arial;
}
body {
    font-family: Arial;
    text-align: center;
    background-color: #f0f0f0;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.gallery img {
    width: 200px;
    border-radius: 10px;
}